@model Dota2StatsClient.Models.Hero

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hero</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hero
        </dt>
        
        <dd>
            <img src="@Url.Content("~/Content/Images/Hero/" + @Html.DisplayFor(model => model.Name) + ".jpg")" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeroClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeroClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
